body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    z-index: 1;
}

.netName {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 27.375px);
    grid-template-rows: repeat(16, 23.625px);
    width: 219px;
    height: 378px;
    left: 332px;
    top: 212px;

    div {
        /* border: solid 1px red; */
        background-size: cover;
        background-position: center;

    }

}


.screen {
    position: relative;
    width: 1198px;
    height: 663px;
    border: solid 1px black;
    background-image: url("./images/background.jpg");
}

.pillContainer {
    position: absolute;
}

.marioContainer {
    width: 190px;
    height: 160px;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    left: 609px;
    top: 167px;
    border-radius: 30px;
}

.pillFlyContainer {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 412px;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(4, 30px);

    div {
        background-size: cover;
    }

    #animNet48 {
        transform: rotate(0deg) !important;
    }
}

.magnidier {
    //lupa 
    position: absolute;
    top: 364px;
    left: 38px;
    width: 224px;
    height: 216px;
    border-radius: 50%;

    div {
        width: 60px;
        height: 60px;
        position: absolute;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    .virusOne {
        background: url('./images/yl/1.png');
        // top: 40px;
        // left: 35px;
    }

    .virusTwo {
        // top: 50px;
        // left: 130px;
        background: url('./images/bl/1.png');
    }

    .virusThree {
        background: url('./images/rd/4.png');
        // top: 125px;
        // left: 80px;
    }
}

.nameTop {
    position: absolute;
    left: 60px;
    top: 170px
}

.nameScore {
    position: absolute;
    left: 60px;
    top: 240px
}

.gameInfoContainer {
    position: absolute;
    width: 180px;
    height: 270px;
    left: 904px;
    top: 216px;

    .gameInfoLevel {
        position: absolute;
        left: 95px;
        top: 70px;
    }

    .gameInfoSpeed {
        position: absolute;
        left: 95px;
        top: 140px;
    }

    .virusNumber {
        position: absolute;
        left: 95px;
        top: 210px;
    }
}