body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  z-index: 1;
}

.netName {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 27.375px);
  grid-template-rows: repeat(16, 23.625px);
  width: 219px;
  height: 378px;
  left: 332px;
  top: 212px;
}
.netName div {
  /* border: solid 1px red; */
  background-size: cover;
  background-position: center;
}

.screen {
  position: relative;
  width: 1198px;
  height: 663px;
  border: solid 1px black;
  background-image: url("./images/background.jpg");
}

.pillContainer {
  position: absolute;
}

.marioContainer {
  width: 190px;
  height: 160px;
  position: absolute;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  left: 609px;
  top: 167px;
  border-radius: 30px;
}

.pillFlyContainer {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 412px;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(4, 30px);
}
.pillFlyContainer div {
  background-size: cover;
}
.pillFlyContainer #animNet48 {
  transform: rotate(0deg) !important;
}

.magnidier {
  position: absolute;
  top: 364px;
  left: 38px;
  width: 224px;
  height: 216px;
  border-radius: 50%;
}
.magnidier div {
  width: 60px;
  height: 60px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.magnidier .virusOne {
  background-color: pink !important;
  position: relative;
  top: 10px;
  left: 80px;
}
.magnidier .virusTwo {
  position: relative;
  top: 40px;
  left: 140px;
  background: url("./images/bl/4.png");
}
.magnidier .virusThree {
  background-color: blue !important;
  position: relative;
  top: 0px;
  left: 0px;
}